<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Sas Quiz" color="#ffffff"></Label>
</ActionBar>

<!--
RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
The RadSideDrawer component is designed to be used as a root element and
it shouldn't have any other siblings other than the <ActionBar> component.
-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <!--
    Use the tkDrawerContent directive to display the content of the app drawer on this page.
    -->
    <StackLayout tkDrawerContent>
        <MyDrawer #mydrawer [selectedPage]="mode"></MyDrawer>
    </StackLayout>

    <!--
    Use the tkMainContent directive to display the content of the page when you have an app drawer.
    -->


    <DockLayout stretchLastChild="true" tkMainContent>
        <StackLayout dock="top">
            <Button *ngIf="!isPracticeMode()" class="btn btn-primary btn-rounded-lg" style="margin: 5;">
                <FormattedString>
                    <Span text="Question {{state.questionNumber}}"></Span>
                    <Span text=" of {{state.totalQuestions}}"></Span>
                </FormattedString>
            </Button>
            <Button *ngIf="isPracticeMode()" class="btn btn-primary btn-rounded-lg" style="margin: 5;">
                <FormattedString>
                    <Span text="Question {{state.questionNumber}}"></Span>
                </FormattedString>
            </Button>
        </StackLayout>

        <StackLayout dock="bottom" class="layout-class" orientation="horizontal">
            <Button class="btn btn-primary btn-rounded-lg" text="<" margin="30px" (tap)="previous()"></Button>
            <Button class="btn btn-primary btn-rounded-lg" text=">" margin="30px" (tap)="next()"></Button>
            <Button class="btn btn-primary btn-rounded-lg" *ngIf="!isPracticeMode() && allQuestionsAsked()" text="Submit" margin="30px"
                    (tap)="submit()"></Button>
            <Button class="btn btn-primary btn-rounded-lg" text="Quit" *ngIf="!isPracticeMode() && !allQuestionsAsked()" margin="30px"
                    (tap)="quit()"></Button>
            <Button class="btn btn-primary btn-rounded-lg" text="Answer" *ngIf="isPracticeMode()" margin="30px"
                    (tap)="showAnswer()"></Button>
        </StackLayout>
        <ScrollView>
            <StackLayout marginLeft="30px">
                <Label text="{{questionWrapper.question.question}}" textWrap="true" marginTop="70px"></Label>
                <li *ngFor="let option of questionWrapper.question.options">
                    <StackLayout (tap)="select(option)" [backgroundColor]="getColor(option)">
                        <Label (tap)="select(option)" text="{{option.description}}" [color]="getTextColor(option)" textWrap="true"
                               marginTop="40px" marginBottom="40px"></Label>
                    </StackLayout>
                </li>
            </StackLayout>
        </ScrollView>
    </DockLayout>
</RadSideDrawer>