<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header" height="80">
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem title="Main Exam" route="exam/main" icon="&#xf015;" [isSelected]="isPageSelected('main')">
            </MyDrawerItem>
            <MyDrawerItem title="Short Exam" route="exam/short" icon="&#xf1ea;" [isSelected]="isPageSelected('short')">
            </MyDrawerItem>
            <MyDrawerItem title="Practice Mode" route="exam/practice" icon="&#xf005;" [isSelected]="isPageSelected('practice')">
            </MyDrawerItem>

            <StackLayout class="hr-light"></StackLayout>

            <MyDrawerItem title="Settings" route="/settings" icon="&#xf013;" [isSelected]="isPageSelected('Settings')">
            </MyDrawerItem>
        </StackLayout>
    </ScrollView>
</GridLayout>